.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: black;
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar.scrolled {
    background-color: white; /* Devient blanche */
    color: black;
    /* Ajoute une ombre */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Réduit la taille */
    padding: 25px 50px; 
}
.scrolled a{
    color: black;
}

body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlcjbbJ0fnbIEQjrINNJPdbpeucf7Se0foew&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

nav{
    position: sticky;
    top: 1em;
}

h1{
    background-color: wheat;
}

.car{
    background-color: blue;
}

.card:hover{
    box-shadow: 10px 5px 10px black;
    background-color: brown;
}

@media screen and  (max-width:375px){
    .card{
        width: 100%;
        flex-direction: column;
        background-color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        box-shadow: 10px 5px 10px black;
        flex-wrap: wrap;
    
}}


@media screen and(max-width: 768px){
    .card{
        width: 100%;
        background-color: blue;
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
}


@media screen and(min-width: 1200px){
    .card{
        width: 100%;

    }
}

body {
      background-color: white;
      color: black;
      transition: background-color 0.3s, color 0.3s;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 50px;
    }
/* la classe dark est utilisée dynamiquement par le js pour pouvoir etre
utilisee: .classlist("dark") */
    body.dark {
      background-color: black;
      color: white;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
       cursor: pointer;
      font-size: 16px;
      background-color: #007BFF;
      color: white;
    }

    body.dark button {
      background-color: #FF9800;
      color: black;
    }


.fade-in {
  opacity: 0;                /* invisible au départ */
  transform: translateY(50px); /* décalé vers le bas */
  transition: opacity 1.5s ease, transform 1.5s ease;
  font-size: 24px;
  text-align: center;
  margin: 100px auto;
  width: 80%;
  /* background: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.fade-in.visible {
  opacity: 1;                /* devient visible */
  transform: translateY(0);  /* remonte à sa position normale */
}